<mat-card>
    <mat-list>
        <div mat-subheader><h1>All Category</h1></div>
        <mat-list-item *ngFor="let c of category">
            <mat-icon mat-list-icon>folder</mat-icon>
            <div mat-line>{{c.title}}</div>
            <div mat-line>{{c.description}}</div>
            <mat-divider></mat-divider>
        </mat-list-item>
    </mat-list>
    <mat-card-actions class="text-center">
        <button mat-raised-button color="primary" routerLink="/admin/addCategory">Add Category</button>
        <button mat-raised-button color="accent">Delete</button>
    </mat-card-actions>
</mat-card>