<mat-card class="mt10">
    <div class="text-center">
        <img src="https://cdn.dribbble.com/users/1577045/screenshots/4914645/media/028d394ffb00cb7a4b2ef9915a384fd9.png?compress=1&resize=400x300&vertical=top"
            alt="" class="image">
        <mat-card-header>
            <h1 class="mt10" style=" margin: auto;">Welcome {{user.firstName}}</h1>
        </mat-card-header>
        <mat-card-content>
            <mat-card>
                <table class="table">
                    <tr>
                        <td>First Name: </td>
                        <td>{{user.firstName}}</td>
                    </tr>
                    <tr>
                        <td>Last Name: </td>
                        <td>{{user.lastName}}</td>
                    </tr>
                    <tr>
                        <td>Email: </td>
                        <td>{{user.email}}</td>
                    </tr>
                    <tr>
                        <td>Role</td>
                        <td>{{user.authorities[0].authority}}</td>
                    </tr>
                    <tr>
                        <td>Enable</td>
                        <td>{{user.enabled?"Active":'Not Active'}}</td>
                    </tr>
                </table>


            </mat-card>
        </mat-card-content>
    </div>
</mat-card>