.width-100 {
    width: 100%;
}

.m-l-20 {
    margin-left: 20;
}

.card-color {
    border-radius: 15px;
    margin-top: 60px;
}

.margin-top {
    margin-top: 5px;
}

.example-action-buttons {
    padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.example-headers-align .mat-form-field+.mat-form-field {
    margin-left: 8px;
}