<div class="bootstrap-wrapper">
    <div class="container-fluid">
        <mat-card>
            <h1 class="text-center">Welcome to profile</h1>
            <mat-card-content>
                <div class="container text-center">
                    <img src="https://cdn.dribbble.com/users/1577045/screenshots/4914645/media/028d394ffb00cb7a4b2ef9915a384fd9.png?compress=1&resize=400x300&vertical=top" alt="" class="image">
                    <h1 class="mt20">{{user.firstName}} {{user.lastName}}</h1>
                </div>
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <table class="table text-center">
                            <tr>
                                <td>Email</td>
                                <td>{{user.email}}</td>
                            </tr>
                            <tr>
                                <td>Role</td>
                                <td>{{user.authorities[0].authority}}</td>
                            </tr>
                            <tr>
                                <td>Enable</td>
                                <td>{{user.enabled?"Active":'Not Active'}}</td>
                            </tr>
                        </table>
                        
                    </div>
                </div>
            </mat-card-content>
            <mat-card-actions class="text-center">
                <button mat-button color="primary">Update</button>
                <button mat-button color="accent">Share</button>
              </mat-card-actions>
        </mat-card>
    </div>
</div>